*.nc
data/
code/__pycache__
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz
*.out
*.nc
*.fdb_latexmk
*.spl
*.fls
pypsa-eur
pypsa-de
technology-data
.snakemake
resources/*
figures/*
figures/*test*
review_az.pdf
submission-arxiv
submission-joule/paper/figures
submission-joule/paper/tables
submission-joule/paper/*.pdf
submission-joule/paper/main.bib
submission-energy/paper/figures
submission-energy/paper/tables
submission-energy/paper/*.pdf
submission-energy/paper/main.bib
price_tracing_comments2_ak.pdf

